<mat-toolbar>
    <span>My E-Commerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/product-list">Product-List</button>
    <button mat-button routerLink="/product/:id">Product-Details</button>
    <button mat-button routerLink="/cart">🛒 Cart ({{ cartItems.length }})</button>

    <ng-container *ngIf="isLoggedIn(); else guestLinks">
        <button mat-button (click)="logout()">Logout</button>
    </ng-container>
  
    <ng-template #guestLinks>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
    </ng-template>
</mat-toolbar>
  